.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.0rem;
  /* border: 2px solid red; */
}

.links {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  align-items: center;
}

.links a {
  color: #26203f;
  text-decoration: none !important;
  font-weight: 500;
}

.links a:hover {
  color: rgb(245, 253, 87);
  transition: all 0.3s;
}

.gradient {
  position: absolute;
  width: 800px;
  height: 150px;
  margin: auto;
  background: var(--green);
  filter: blur(100px);
  z-index: -1;
  top: -120px;
}

.active {
  color: var(--white) !important;
}
